h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card-container {
    justify-content: space-around;
}

.card-margin{
    margin-bottom: 20px;
}

.img-card{
    height: 200px;
}