h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card-container {
    justify-content: space-around;
}

.card-margin{
    margin-bottom: 20px;
}

.img-card{
    height: 200px;
}

.button-container{
    width: 100%;
    text-align: center;
}

.btn-secondary{
    margin: 20px;
    justify-content: space-around;
}

.colortexto{
    color:white;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.counter-button {
    background-color: #dc3545;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
}
.counter-display {
    margin: 0 15px;
    font-size: 1.5em;
}